In [ ]:
#查询供热费
SELECT  SCSP_Smy_Dsc ,EtrUnt_Nm ,COUNT(*) ,SUM(HpnAm)  FROM (
SELECT * 
  FROM BF_EVT_PER_SBSTRCVPY_TXN_INF WHERE (
etrunt_nm LIKE '%青岛开源公司后海%' 

OR  
etrunt_nm LIKE '%青岛能源热电有限公司%'

)
AND (substr(Hst_Acg_Dt,1,10)>='2016-09-01' AND 
         substr(Hst_Acg_Dt,1,10)<= '2016-12-31'
)
) a GROUP BY SCSP_Smy_Dsc ,EtrUnt_Nm

In [ ]:
 --查询 信用卡 
 SELECT b.* FROM 
 (SELECT  CardNo	卡号 ,max(Dat_Payment)	付款日期

 FROM BF_EVT_S05S9_ODS_PAYMENT WHERE  Dat_Payment<'2017-02-01' GROUP BY CardNo  ) b   
 
WHERE   NOT EXISTS (SELECT * FROM Tmp_Han_12 c  WHERE b.卡号=c.卡号) 
   
 
 
 
 
  SELECT * FROM BF_EVT_S05S9_ODS_PAYMENT WHERE CardNo IN  ('6221662242278478')
 
SELECT * FROM  Tmp_Han_12 
CREATE   TABLE Tmp_Han_12 AS 
	SELECT  CardNo	卡号 

 FROM BF_EVT_S05S9_ODS_PAYMENT WHERE  Dat_Payment>'2017-04-30' GROUP BY CardNo

In [ ]:
SELECT  SCSP_Smy_Dsc ,EtrUnt_Nm ,COUNT(*) ,SUM(HpnAm),chnl_id  FROM (
SELECT *



  FROM BF_EVT_PER_SBSTRCVPY_TXN_INF WHERE (
etrunt_nm LIKE '%青岛西海岸公用事业集团能源有限公司%' 

OR  
etrunt_nm LIKE '%大唐青岛西海岸热力有限公司%'

)
AND (substr(Hst_Acg_Dt,1,10)>='2017-08-01' AND 
         substr(Hst_Acg_Dt,1,10)<= '2017-12-31'
)
) a GROUP BY SCSP_Smy_Dsc ,EtrUnt_Nm , chnl_id ORDER BY etrunt_nm

In [ ]:
SELECT T3.TRDPCT_ACCNO 账号, T3.ACC_ACCNM 姓名, T3.SRP_ACT_TXNAMT 金额, a.Txn_EdDt 交易日期
  FROM BF_EVT_MIX_SBSTRCVPY_BTCH_DTL T3,BF_EVT_MIX_SBSTRCVPY_BTCH_INF A
 WHERE T3.BTCH_ID IN
       (SELECT T2.BTCH_ID
          FROM BF_EVT_MIX_SBSTRCVPY_BTCH_INF T2
         WHERE T2.ENTRST_PRJ_ID 
      IN
(SELECT T1.ENTRST_PRJ_ID
  FROM BF_AGT_ERSTRCVPYAR T1
 WHERE T1.ETRUNTSRPAR_SN IN
       (SELECT DISTINCT T.ETRUNTSRPAR_SN
          FROM BF_AGT_ERSTRCVPYAR_ACC_SET T
         WHERE T.SETL_ACCNO = '37101984910051008192')))
AND t3.Btch_ID=a.Btch_ID
AND a.Txn_EdDt<='20170901'

KHQD：

select t3.*,t2.inst_no from 
(select t.trans_date,t1.acct_no,t1.acct_name,t1.bas_charge from BF_EVT_GEN_NB_RESP_FILE t1,BF_EVT_GEN_BATCH_PD_TASK t  where t1.chanl_flow_no=t.chanl_flow_no 
and  t.acct_no='37101984910051008192' and t.trans_date >='20161101') t3 left join BF_AGT_DEP_ACCT_SAP t2 on t3.acct_no=t2.cust_acct_no and substr(t3.acct_no,1,3)='239'
where substr(t3.acct_no,1,3)='239' union  
select t3.*,t2.inst_no from 
(select t.trans_date,t1.acct_no,t1.acct_name,t1.bas_charge from BF_EVT_GEN_NB_RESP_FILE t1,BF_EVT_GEN_BATCH_PD_TASK t  where t1.chanl_flow_no=t.chanl_flow_no 
and  t.acct_no='37101984910051008192' and t.trans_date >='20161101') t3 left join BF_AGT_DEP_ACCT_SAP t2 on t3.acct_no=t2.crd_no and substr(t3.acct_no,1,3)<>'239'
where substr(t3.acct_no,1,3)<>'239'

In [ ]:
--
--代发工资人员统计

SELECT a.Cust_No,a.cust_name ,aa.* FROM BF_AGT_DEP_ACCT_SAP a  JOIN  
(SELECT  账号, 姓名,etrunt_nm ,MAX(交易日期) FROM 
(SELECT T3.TRDPCT_ACCNO 账号, T3.ACC_ACCNM 姓名,  a.Txn_EdDt 交易日期,t1.etrunt_nm 
  FROM BF_EVT_MIX_SBSTRCVPY_BTCH_DTL T3 JOIN BF_EVT_MIX_SBSTRCVPY_BTCH_INF A
   ON T3.BTCH_ID = a.BTCH_ID
   JOIN BF_AGT_ERSTRCVPYAR T1  
 ON T1.ENTRST_PRJ_ID=a.ENTRST_PRJ_ID AND a.Txn_EdDt>'20170901'
 AND
				 t1.SCSP_Bsn_TpCd=0 AND t1.etrunt_nm IN ('青岛市少年宫',
'青岛市少年儿童艺术小学',
 
'青岛大学师范学院') ) GROUP BY 账号, 姓名,etrunt_nm  ) aa ON  cust_acct_no =aa.账号 ORDER BY aa.etrunt_nm

In [ ]:
--代发工资人员统计

SELECT a.Cust_No,a.cust_name ,aa.* FROM BF_AGT_DEP_ACCT_SAP a  JOIN  
(SELECT  账号, 姓名,etrunt_nm ,MAX(交易日期) FROM 
(SELECT T3.TRDPCT_ACCNO 账号, T3.ACC_ACCNM 姓名,  a.Txn_EdDt 交易日期,t1.etrunt_nm 
  FROM BF_EVT_MIX_SBSTRCVPY_BTCH_DTL T3 JOIN BF_EVT_MIX_SBSTRCVPY_BTCH_INF A
   ON T3.BTCH_ID = a.BTCH_ID
   JOIN BF_AGT_ERSTRCVPYAR T1  
 ON T1.ENTRST_PRJ_ID=a.ENTRST_PRJ_ID AND a.Txn_EdDt>'20170901'
 AND
         t1.SCSP_Bsn_TpCd=0 AND t1.etrunt_nm IN ('济南铁路公安局青岛公安处' ) ) GROUP BY 账号, 姓名,etrunt_nm  ) aa ON  cust_acct_no =aa.账号 ORDER BY aa.etrunt_nm